.page-header {
    background-color:aqua
}
.navigation {
    background-color:beige;
}
.nav-list {
    background-color:lightpink;
}
.nav-item {
    background-color:aquamarine;
}
.nav-link {
    color:tomato
}